tags
waveform.vcd
obj_dir/*
.stamp.verilate
.vscode/c_cpp_properties.json
GTKWave/pipelined.gtkw
vivado_riscv_pipelined/vivado_riscv_pipelined.xpr
vivado_riscv_pipelined/vivado_riscv_pipelined.cache/sim/ssm.db
vivado_riscv_pipelined/vivado_riscv_pipelined.cache/wt/project.wpc
vivado_riscv_pipelined/vivado_riscv_pipelined.cache/wt/xsim.wdf
vivado_riscv_pipelined/vivado_riscv_pipelined.hw/vivado_riscv_pipelined.lpr
vivado_riscv_pipelined/vivado_riscv_pipelined.ip_user_files/README.txt
vivado_riscv_pipelined/vivado_riscv_pipelined.ip_user_files/mem_init_files/riscvtest.mem
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/compile.log
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/compile.sh
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/elaborate.log
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/elaborate.sh
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/glbl.v
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/riscvtest.mem
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/simulate.log
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/simulate.sh
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/testbench_behav.wdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/testbench_vlog.prj
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/testbench.tcl
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xelab.pb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.ini
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xvlog.log
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xvlog.pb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/Compile_Options.txt
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/TempBreakPointFile.txt
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.dbg
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.mem
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.reloc
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.rlx
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.rtti
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.svtype
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.type
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.xdbg
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsimcrash.log
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsimk
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsimkernel.log
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsimSettings.ini
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/obj/xsim_0.lnx64.o
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/obj/xsim_1.c
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/obj/xsim_1.lnx64.o
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/adder.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/alu.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/aludec.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/controller.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/datapath.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/dmem.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/extend.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/flopenr.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/flopenrc.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/flopr.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/floprc.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/glbl.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/hazard.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/imem.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/maindec.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/mux2.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/mux3.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/regfile.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/riscv.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/testbench.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/top.sdb
vivado_riscv_pipelined/vivado_riscv_pipelined.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
